html, body {
    margin: 0;
    font-family: "Avenir";
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: 20px;
    background-color: #86a9d7;
}
a {
    color: #0074d9;
    text-decoration: none;
}
a.menuButton {
    padding: 10px;
    border: 1px solid #0064d9;
    border-radius: 10px;
    display: inline-block;
    margin: 8px;
}
a.selected {
    background-color: green;
    color: white;
}
a:hover {
    background-color: #0074d9;
    color: white;
}
#languagePickerContainer {
    padding: 5px;
    border: 1px solid #0064d9;
    border-radius: 10px;
    display: inline-block;
    float: right;
}
img.decoration {
    float: right;
    margin: 20px;
    width: 300px;

}
img.artwork {
    width: 600px;
}
img.projectImage {
    width: 200px;
    margin: 0 5px;
}
